# Datos privados
history/
config.json
error.log

# Builds
dist/
build/
*.exe
*.spec

# Python
__pycache__/
*.pyc
python_embed/
.venv/

# Node
node_modules/
npm-debug.log*

# Soporte portable (copia lista)
portable/